//
//  Debug.xcconfig
//  Insterm
//
//  Created by Yusuke Mori on 2024/12/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Google Admob
ADMOB_ID = ca-app-pub-3940256099942544~1458002511
BANNER_ID = ca-app-pub-3940256099942544/2934735716

// Shake iOS
SHAKE_CLIENT_ID = testClientID
SHAKE_CLIENT_SECRET = testClientSecret
